<div class="grid gap-12">
    <% data.forEach(function(item) { %>
    <div class="flex flex-col gap-2">
        <div class="flex items-center justify-between">
            <h1 class="text-xl font-bold"><%= item.title %></h1>
            <button class="btn btn-primary btn-sm">Tambah</button>
        </div>
        <table class="table bg-base-200">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th><%= item.header1 %></th>
                    <th>Email</th>
                    <th>Telepon</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% item.data.forEach(function(dataItem) { %>
                <tr>
                    <td><%= dataItem.nama %></td>
                    <td><%= dataItem.nim || dataItem.nidn %></td>
                    <td><%= dataItem.email %></td>
                    <td><%= dataItem.telepon %></td>
                    <td class="w-32">
                        <button data-id="<%= dataItem.id %>"
                            onclick="openEditDialog('<%= JSON.stringify(dataItem) %>', '<%= item.type %>')"
                            class="action_button_edit btn btn-square btn-sm btn-primary" title="edit">✏️</button>
                        <button data-id="<%= dataItem.id %>"
                            class="action_button_delete btn btn-square btn-sm btn-secondary" title="hapus">🗑️</button>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <% }); %>
</div>
<dialog id="editModal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Edit</h3>
        <form id="submitEditForm" class="grid gap-4">
            <input type="hidden" id="userId" name="id" />
            <input type="hidden" id="dataType" name="type" />
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Nama</span>
                </div>
                <input type="text" name="nama" placeholder="Nama" class="input input-bordered w-full" id="name" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">NIM / NIDN</span>
                </div>
                <input type="text" name="idNum" placeholder="NIDN" class="input input-bordered w-full" id="idnum" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <input type="email" name="email" placeholder="Email" class="input input-bordered w-full" id="email" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Telepon</span>
                </div>
                <input type="number" name="telepon" placeholder="Telepon" class="input input-bordered w-full"
                    id="tel" />
            </label>
            <div class="grid gap-4 grid-cols-2">
                <button type="button" id="cancelBtn" class="btn btn-warning btn-outline">Batal</button>
                <button id="saveBtn" class="btn btn-primary btn-">Simpan</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>

    function openEditDialog(editContent, type) {
        editContent = JSON.parse(editContent)
        const editModal = document.getElementById("editModal")
        const userId = editModal.querySelector("#userId")
        const dataType = editModal.querySelector("#dataType")
        const nama = editModal.querySelector("#name")
        const idnum = editModal.querySelector("#idnum")
        const email = editModal.querySelector("#email")
        const tel = editModal.querySelector("#tel")
        const cancelBtn = editModal.querySelector('#cancelBtn')
        const saveBtn = editModal.querySelector('#saveBtn')
        const form = editModal.querySelector("#submitEditForm")

        userId.value = editContent.id
        dataType.value = type
        nama.value = editContent.nama
        idnum.value = editContent.nim != null ? editContent.nim : editContent.nidn != null ? editContent.nidn : ""
        email.value = editContent.email ?? ""
        tel.value = editContent.telepon || 0

        editModal.classList.add("modal-open")

        cancelBtn.addEventListener("click", () => hideModal(editModal))

        form.addEventListener('submit', (event) => {
            event.preventDefault()

            verifySubmitedData(form, type).then(data => {
                submitEditForm(data).then(() => window.location.reload()).catch(alert)
            }).catch(alert)

        })
    }


    function verifySubmitedData(form, type) {
        return new Promise((resolve, reject) => {
            try {
                const formData = new FormData(form)
                const data = {}
                for (let [ key, value ] of formData.entries()) {
                    data[ key ] = value
                }

                if(type === 'dosen') {
                    data.nidn = data.idNum
                    delete data.idNum
                } else {
                    data.nim = data.idNum
                    delete data.idNum
                }

                resolve(data)
            } catch (error) {
                reject(error)
                console.error(error)
            }
        })
    }

    function submitEditForm(data) {
        return new Promise(async (resolve, reject) => {
            try {
                let res = await fetch('/api/edit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                let result = await res.json()
                resolve(result)
            } catch (error) {
                reject(error)
                console.error(error)
            }
        })
    }

    function hideModal(modal) {
        modal.classList.remove('modal-open')
    }


</script>